<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890669005029-9v61vr5c50p9gduig956egfgu1ona2c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890669005029-9v61vr5c50p9gduig956egfgu1ona2c7</string>
	<key>API_KEY</key>
	<string>AIzaSyD4wgKEVkl_d8Y3ouiwGddzm-LsVlygMHk</string>
	<key>GCM_SENDER_ID</key>
	<string>890669005029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team3990.PartsManagement</string>
	<key>PROJECT_ID</key>
	<string>parts-management-app</string>
	<key>STORAGE_BUCKET</key>
	<string>parts-management-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890669005029:ios:94cc04e932e8d0be0f7c0c</string>
	<key>DATABASE_URL</key>
	<string>https://parts-management-app.firebaseio.com</string>
</dict>
</plist>