<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98487613804-bimv9qv2nkqipjjpjlroia7cioprpu9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98487613804-bimv9qv2nkqipjjpjlroia7cioprpu9c</string>
	<key>API_KEY</key>
	<string>AIzaSyB1J4EvST8BcpopasQ_tn3qAt-Jmql8G4I</string>
	<key>GCM_SENDER_ID</key>
	<string>98487613804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team3990.PartsManagementQualityAssurance</string>
	<key>PROJECT_ID</key>
	<string>parts-management-app-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>parts-management-app-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98487613804:ios:b7ae17980637671d075b49</string>
	<key>DATABASE_URL</key>
	<string>https://parts-management-app-qa.firebaseio.com</string>
</dict>
</plist>